.title {
           color: #31708f;
           font-size: 40px;
           font-style: bold;
          }

.puzzle {
           color: #31708f;
          }

.myButton {
    display: inline-block;
    min-width: 100%;
    height: 50px;
    white-space: normal;
    text-align: left;
    padding: 16px;
    font-size: 1em;
    color: #d9edf7;
    background-color: #31708f;
}

.lightButton {
    color: #D3D3D3;
    background-color: white;
}

.myLightbulb {
  color: orange;
}

.greenTick {
  color: #00A65A;
  font-size: 1.1em;
}

.redX {
  color: #DD4B39;
  font-size: 1.1em;
}

#header1 {

}

#header2 {
float: right; !important
max-height: 70px;
}

#panel1 {
  background: #D3D3D3;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  align-content: center;
  height: 100px;
  overflow: auto;
  position: fixed
}

#panel2 {overflow: auto;}

.summaryText {
  color: #333;
  margin-left: 2%;
}

.summaryText:hover {
  background-color: #f4f4f4;
}

.Likely {
  display: inline;
  color: #00A65A;
  font-size: 0.8em;
}

.Possible {
  display: inline;
  color: #03ff70;
  font-size: 0.8em;
}

.Potential {
  display: inline;
  color: #ff851b;
  font-size: 0.8em;
}

.Limited {
  display: inline;
  color: #DD4B39;
  font-size: 0.8em;
}

.Unlikely {
  display: inline;
  color: #DD4B39;
  font-size: 0.8em;
}

.Unknown {
  display: inline;
  color: #39cccc;
  font-size: 0.8em;
}
